html,
body {
  margin: 0;
  cursor: crosshair;
  overflow: hidden;
}

canvas {
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

canvas.is-dragging {
  cursor: none;
}
